* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
    color: #2E3349;
    background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 622px, 622px;
    background-position: left -350px top -300px, right -350px bottom -300px;
    background-color: hsl(185, 75%, 39%);
    background-attachment: fixed, fixed;
}

main {
    position: relative;
    height: 100vh;
    width: 100%;
}

.container {
    width: 326px;
    height: 374px;
    background-image: url("../images/bg-pattern-card.svg");
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -187px 0 0 -163px;
    text-align: center;
    background-color: white;
}

.photo {
    height: 96px;
    width: 96px;
    border-radius: 100%;
    border: 5px #FFFFFF solid;
    margin: 92px auto 0 auto;
    display: block;
}

h1 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 8px;
}

h1 span {
    font-weight: 400;
}

h2 {
    font-size: 14px;
    color: #6B7082;
    font-weight: 400;
}

.stats {
    position: absolute;
    bottom: 0;
    border-top: 1px #E8E9EC solid;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding-bottom: 24px;
    padding-top: 24px;
}

.number {
    font-weight: 700;
}

.details {
    font-size: 10px;
    color: #6B7082;
    letter-spacing: 1.5px;
}

@media only screen and (min-width:768px) {
    .container {
        width: 350px;
    }
    body {
        background-size: 976px, 976px;
        background-position: left -500px top -500px, right -350px bottom -700px;
    }
}